<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>نجوم الملاعب</title>
<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/form-elements.css" />
<link rel="stylesheet" href="assets/css/style.css" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="assets/ico/apple-touch-icon-57-precomposed.png" />
</head>
<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<img style="float: left; margin: -5px 15px -5px -10px;"
					src="assets/logos/ac.png" width="60px" height="85px" alt="" /> <img
					style="float: right; margin: -5px -20px -5px 0px;"
					src="assets/logos/nm.png" width="90px" height="92px" alt="" /> <img
					style="float: right; margin: 0px 0px 0px 0px;"
					src="assets/logos/itk.jpg" width="70px" height="70px" alt="" /> <img
					style="float: right; margin: 0px 10px 0px 0px;"
					src="assets/logos/UL.jpg" width="70px" height="70px" alt="" />
				<h3 class="modal-title" id="modal-register-label">Enregistrement</h3>
				<p>Remplissez le formulaire :</p>
			</div>

			<div class="modal-body">
				<form role="form" th:action="@{/Confirme}" method="post"
					class="registration-form">
					<!-- Prenom -->
					<div class="form-group">
						<label for="form-first-name">Informations Génèrales</label> <input
							type="text" th:value="${membre.fname}" name="fname"
							placeholder="Prénom..." class="form-first-name form-control"
							id="form-first-name" />
					</div>
					<!-- Nom de père
							<div class="form-group">
	                        	<label class="sr-only" for="form-father-name">Nom de père</label>
	                        	<input type="text" th:value="*{membre.sname}" name="form-father-name" placeholder="Nom de père..." class="form-father-name form-control" id="form-father-name"/>
	                        </div> -->
					<!-- Nom -->
					<div class="form-group">
						<label class="sr-only" for="form-last-name">Nom</label> <input
							type="text" th:value="${membre.sname}" name="sname"
							placeholder="Nom..." class="form-last-name form-control"
							id="form-last-name" />
					</div>

					<!-- Date de naissance -->
					<div class="form-group">
						<label class="sr-only" for="form-dateN">Date de naissance</label>
						<input type="text" value="1987/03/01" th:value="${membre.bday}"
							th:field="${membre.bday}" name="bday"
							onfocus="(this.type='date')" onblur="(this.type='text')"
							placeholder="Date de Naissance" class="form-dateN form-control"
							id="form-dateN" />
					</div>

					<!-- Lieu de Naissance -->
					<div class="form-group">
						<label for="form-lieuN">Lieu de naissance et Adresse</label>
						<table width="100%" border="0">
							<tr>
								<!-- 								<td><input type="radio" name="name" class="form-lieuN" -->
								<!-- 									value="TN" id="form-lieuN" /></td> -->
								<!-- 								<td>Tunisie</td> -->
								<td><input type="radio" name="form-lieuN" checked="checked"
									class="form-lieuN" value="ET" id="form-lieuN" /></td>
								<td>Origine de</td>
							</tr>
						</table>
					</div>
					<div id="form-country-hide" class="form-group">
						<label class="sr-only" for="form-country">Pays</label>
						<table width="100%" border="0">
							<tr>
								<td><img id="img-country"
									src="assets/img/backgrounds/country/tunisie.png" width="50px"
									height="40px" /></td>
								<td><select name="form-country" id="form-country"
									class="form-country form-control">

										<option th:each="p:${listcountry}" th:text="${p.name}" 
											 th:value="${mem}"></option>
								</select></td>
							</tr>
						</table>

						<input th:value="${membre.address}" th:field="${membre.address}"
							type="text" name="address" placeholder="Adresse..."
							class="form-adr-etr form-control" id="form-adr-etr" />
					</div>

					<!-- Evidence -->
					<!-- END Lieu de Naissance -->


					<div class="form-group">
						<button type="submit" class="btn">Enregistrer</button>
					</div>
				</form>

			</div>

		</div>
	</div>


	<!-- Javascript -->
	<script src="assets/js/jquery-3.2.1.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- <script src="assets/js/jquery.ddslick.js"></script> -->
	<script src="assets/js/jquery.backstretch.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	<!-- <script src="assets/js/blur.js"></script> -->
	<script src="assets/js/teams.js"></script>

	<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
</html>